<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://kit.fontawesome.com/68f1328681.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/hero.css" />
    <link rel="stylesheet" href="/css/stamps.css">
    <link rel="stylesheet" href="/css/notFound.css">
    <title>Document</title>
</head>
<body>
    <header class="header products">
      <a href="/" class="logo"><img class="header-logo" src="/Images/Images/logo.png" alt="">Nautical Rarities</a>
      <nav class="navbar">
        <a id="home-button" href="/">Home</a>
        <a id="stamps-button" href="stamps">Stamps</a>
        <a id="comics-button" href="comics">Comics</a>
  
        <a href="shoppingCart" id="cart-icon"><i class="fa-sharp fa-light fa-cart-shopping fa-sm"></i></a>
        <% if (user) { %>
          <a href="logout" id="log-out-icon"><i class="fa-sharp fa-solid fa-arrow-right-from-bracket fa-sm"></i></a>
        <% } else { %>
          <a href="login" id="person-icon"><i class="fa-solid fa-user fa-sm"></i></a>
        <% } %>
        <a href="#" id="bars-icon"><i class="fa-sharp fa-light fa-bars-sort fa-sm"></i></a>
        <div class="dropdown-menu">
          <a id="home" href="/">Home</a>
          <a id="stamps-dropdown" href="stamps">Stamps</a>
          <a id="comics" href="comics">Comics</a>
          <a href="contactUs">Contact</a>
          <a href="#">Events</a>
          <a href="#">About</a>
        </div>
      </nav>
    </header>
    <section>
        <div class="not-found">
           <h1>Contact Us</h1>
           <br>
           <h3>Please contact us at <a href="mailto:suppot@NauticalRarities.com">Support@NauticalRarities.com</a> for assistance in locating your dream</h3> 
        </div>
        
    </section>
    <footer>
        <div class="fifth-container">
            <!--Footer Section-->
            <div class="social-container">
              <a href="#" class="logo-footer"><img class="logo-image" src="/Images/Images/logo.png" alt="logo"></a>
              <h6 class="copyright">2023 All Right Reserved</h6>
            </div>
    
            <div class="contact-us-container">
              <h1>Contact Us</h1>
              <p>P.O Box 1515</p>
              <p>Riviera Beach, Florida 33404</p>
              <br />
              <h5>Nauticalcomics@gmail.com</h5>
            </div>
    
            <div class="tabs-container">
              <div class="sub-container">
                <h5 class="tabs">Getting Started</h5>
                <h5 class="tabs">Information</h5>
                <h5 class="tabs">Company</h5>
              </div>
              <div class="sub-two">
                <h5 class="tabs">Products</h5>
                <h5 class="tabs">Contact</h5>
                <h5 class="tabs">About</h5>
              </div>
            </div>
    
            <div class="subscribe-container">
              <h1>Subscribe</h1>
              <div class="subscribe-box">
                <p>Email</p>
                <!--Type Email Here Box-->
              </div>
              <div class="subscribe-button">
                <p>Subscribe</p>
                <!--Blue Subscribe button-->
              </div>
              <div class="follow-us">
                <h4 class="h-follow">Follow Us</h4>
                <div class="icons">
                  <a href="#" id="facebook-icon"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                  <a href="#" id="twitter-icon"><i class="fa-brands fa-twitter fa-2xl"></i></a>
                  <a href="#" id="-icon"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                </div>
              </div>
            </div>
          </div>
      </footer>
      <script src="script.js"></script>
</body>
</html>